/target/
.classpath
.project
.settings
src/main/resources/client.properties
src/main/resources/loggers.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_1.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_3_2_16_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
hometask-skeleton.iml
