<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <import resource="DAO.xml"/>
    <import resource="users.xml"/>
    <import resource="events.xml"/>
    <import resource="discounts.xml"/>
    <import resource="auditoriums.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditoriums.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

    <bean id="auditoriumService" class="com.epam.spring.hometask.service.AuditoriumServiceImpl">
        <property name="auditoriumDAO" ref="auditoriumDAO"/>
    </bean>

    <bean id="eventService" class="com.epam.spring.hometask.service.EventServiceImpl">
        <property name="eventDAO" ref="eventDAO"/>
    </bean>

    <bean id="userService" class="com.epam.spring.hometask.service.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="bookingService" class="com.epam.spring.hometask.service.BookingServiceImpl">
        <property name="discountService" ref="discountService"/>
        <property name="userService" ref="userService"/>
        <property name="auditoriumService" ref="auditoriumService"/>
    </bean>

    <bean id="discountService"
          class="com.epam.spring.hometask.service.DiscountServiceImpl">
        <constructor-arg ref="discountDAO"/>
    </bean>

    <!--<bean id="event" class="com.epam.spring.hometask.beans.Event" scope="prototype" init-method="init"/>-->

</beans>